<div class="container">
    <div class="panel panel-info">
        <nav>
            <ul class="nav nav-justified">
                <li class=""><a href="#">Profile</a></li>
                <li><a href="#">Interstellar Matches</a></li>
            </ul>
        </nav>
        <div class="panel-body">
            <div class "row">
                <div class="col-md-3">
                    <div class="well">
                        <h1> Singles Near Your Star Cluster </h1>
                    </div>
                </div>
                <div>
                    <div class="col-md-9">
                        <div class="col-md-6 col-md-offset-6 text-right">Hey there Sexy (HBars Name)
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="clearfix visible-md-block">
                            {{#each members}}
                            <div class="col-md-4" id="members">
                                <img src="{{ photo }}">
                                <p>Name: {{ name }}</p>
                                <p>Classification: {{ classification}}</p>
                                <p>Atmospheric requirements: {{ atmospheric_requirements }}</p>
                                <p>Likes: {{ likes }}</p>
                                <p>Dislikes: {{ dislikes }}</p>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
